/* Variables */
:root {
  --transition: all 300ms linear;
  --colorWhite: #ffffff; /* White color */
  --colorSmoothGray: #e8e8e8c7; /* Smooth gray color */
  --colorPrimary: #1e3799; /* Headers, important elements */
  --colorSecondary: #3ab795; /* Accents and highlights */
  --colorBackground: #f8f8f8; /* Main content areas */
  --colorWarmGray: #b2b1b9; /* Secondary elements and details */
  --colorText: #333333; /* Primary content */
  --colorWarning: #ff6b6b; /* Notifications or warnings */
  --colorMenuBackground: #242f40; /* Fixed menu background */
  --colorMenuItem: #ffffff; /* Menu item text color */
  --colorMenuItemHover: #1e3799; /* Menu item hover state */
  --colorMenuHighlight: #3ab795; /* Menu item active or highlight state */
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 40px;
  color: var(--colorPrimary);
}

i {
  vertical-align: middle;
}

/******* Global styles *******/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 14px;
}

/* Footer */
footer {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--colorMenuBackground);
  color: var(--colorWhite);
  text-align: center;
  padding: 10px 0;
}

/******* Custom styles *******/

/* Site wrapper */
.siteWrapper {
  border: 2px solid;
  border-color: var(--colorSmoothGray);
  display: flex;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

/* Hamburger menu */
.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.hamburgerMenu span {
  font-size: 35px;
  color: var(--colorMenuItem);
}

/* Fixed sidebar menu */
.sideNav {
  flex: 0 0 250px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--colorMenuBackground);
  z-index: 1000;
}

/* Closebtn */
.sideNav .closeBtn {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 50px;
  color: var(--colorMenuItem);
  transition: var(--transition);
}

.sideNav .closeBtn:hover {
  color: var(--colorMenuItemHover);
}

/* Fixed sidebar menu image*/
.sideNav .menuImg {
  text-align: center;
  margin-top: 22px;
}

.sideNav .menuImg img {
  width: 80%;
}

/* Fixed sidebar menu elements*/
.sideNav .menu {
  text-align: center;
  margin: 20px 0 50px 0;
}

.sideNav .menu ul li {
  margin-bottom: 10px;
}

.sideNav .menu ul li a {
  border-bottom: 1px solid;
  border-bottom-color: var(--colorMenuItem);
  color: var(--colorMenuItem);
  font-size: 15px;
  font-weight: bold;
  transition: var(--transition);
  width: 150px;
  display: -webkit-inline-box;
}

.sideNav .menu ul li a:hover {
  color: var(--colorMenuItemHover);
}

.sideNav .menu ul li a i {
  margin-right: 5px;
}

.sideNav .menu ul li a:hover i {
  margin-right: 10px;
}

/* Fixed sidebar menu social icons*/
.sideNav .social {
  text-align: center;
}

.sideNav .social a {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: var(--colorMenuItem);
  line-height: 40px;
  transition: var(--transition);
}

.sideNav .social a i {
  color: var(--colorMenuItemHover);
}

.sideNav .social a:hover {
  background-color: var(--colorMenuItemHover);
}

.sideNav .social a:hover i {
  color: var(--colorMenuItem);
}

/* Content section*/
.content {
  flex-grow: 1;
}

.content span {
  color: var(--colorWhite);
  margin-top: 8px;
}

.content p {
  text-transform: capitalize;
  font-size: 18px;
  text-align: justify;
  color: var(--colorWhite);
}

.content h1 {
  border-bottom: 1px solid;
  border-color: var(--colorWarmGray);
}

/* Content section */
.content .Biography,
.content .aboutMe,
.content .skills,
.content .services,
.content .experiences,
.content .contact {
  padding: 30px;
}

/* Content section > Biography */
.content .Biography {
  position: relative;
  overflow: hidden;
}

.content .Biography::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/back2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(7px);
  z-index: -1;
}

.content .Biography * {
  position: relative;
  z-index: 1;
}

.content .Biography h1 {
  color: var(--colorWhite);
}

.content .Biography h1 i {
  font-size: 14px;
}

.content .Biography span {
  font-size: 20px;
}

.content .Biography span i {
  font-size: 12px;
}

.content .Biography p {
  margin: 30px 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Content section > Biography > CV */
.content .Biography .cvBtn {
  display: inline-block;
  background-color: var(--colorBackground);
  width: 200px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  color: var(--colorPrimary);
  transition: var(--transition);
}

.content .Biography .cvBtn i {
  margin-right: 8px;
}

.content .Biography .cvBtn:hover {
  background-color: transparent;
  color: var(--colorWhite);
}

/* Content section > aboutMe */
.content .aboutMe {
}

.content .aboutMe span {
  display: block;
  color: var(--colorSecondary);
  font-size: 20px;
  font-weight: bold;
}

.content .aboutMe .aboutMeHello {
  font-size: 30px;
}

.content .aboutMe p {
  margin: 20px 0;
  color: var(--colorText);
}

.content .aboutMe .email {
}

.content .aboutMe .email span {
}

.content .aboutMe .email a {
  color: var(--colorSecondary);
  transition: var(--transition);
}
.content .aboutMe .email a:hover {
  color: var(--colorPrimary);
}

/* Content section > skills */
.content .skills {
}

.content .skills p {
  color: var(--colorText);
  margin: 20px 0;
}

.content .skills span {
  font-weight: bold;
  margin-left: 20px;
  color: var(--colorSecondary);
  margin-bottom: 10px;
}

.content .skills ul li {
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.content .skills .skillContainer {
  margin-left: 20px;
  width: 250px;
  margin-bottom: 10px;
}

.content .skills .skillContainer .progress {
  height: 6px;
  background-color: var(--colorWhite);
  border-radius: 6px;
  border: solid 2px var(--colorWhite);
}

.content .skills .skillContainer .progress .progressBarHtml,
.content .skills .skillContainer .progress .progressBarCss,
.content .skills .skillContainer .progress .progressBarResponsive,
.content .skills .skillContainer .progress .progressBarJavascript,
.content .skills .skillContainer .progress .progressBarjQuery,
.content .skills .skillContainer .progress .progressBarGit,
.content .skills .skillContainer .progress .progressBarSql,
.content .skills .skillContainer .progress .progressBarDelphi {
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 5s;
  background-color: var(--colorSecondary);
  height: 6px;
  border-radius: 6px;
}

.content .skills .skillContainer .progress .progressBarHtml,
.content .skills .skillContainer .progress .progressBarCss,
.content .skills .skillContainer .progress .progressBarResponsive {
  animation-name: animateBarTop;
  width: 95%;
}

.content .skills .skillContainer .progress .progressBarJavascript,
.content .skills .skillContainer .progress .progressBarjQuery {
  animation-name: animateBarTedium;
  width: 50%;
}

.content .skills .skillContainer .progress .progressBarGit,
.content .skills .skillContainer .progress .progressBarSql,
.content .skills .skillContainer .progress .progressBarDelphi {
  animation-name: animateBarGood;
  width: 80%;
}

/* Content section > services */
.content .services {
}

.content .services div {
  width: 240px;
  height: 300px;
  vertical-align: top;
  border: 1px solid;
  border-color: var(--colorSecondary);
  background-color: var(--colorSecondary);
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  transition: var(--transition);
  padding: 10px 0px;
  margin-left: 10px;
}

.content .services div i {
  color: var(--colorWhite);
  font-size: 40px;
}

.content .services div span {
  color: var(--colorWhite);
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.content .services div p {
  text-align: center;
  font-size: 16px;
  color: var(--colorText);
}

.content .services div:hover {
  border: 1px solid var(--colorSecondary);
  background: var(--colorWhite);
}

.content .services div:hover i,
.content .services div:hover span {
  color: var(--colorSecondary);
}

/* Content section > experiences */

/* Content section > experiences > line */
.line {
  padding: 5px 0 5px 30px;
  border-left: 3px solid var(--colorText);
}

.lineChild {
  position: relative;
}

.lineChild::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -39px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-color: var(--colorSecondary);
  border-radius: 50%;
  background-color: var(--colorWhite);
}

.content .experiences .lineChild .date {
  color: var(--colorSecondary);
  font-size: 16px;
}

.content .experiences {
}

.content .experiences span {
  font-size: 18px;
  color: var(--colorPrimary);
  font-weight: bold;
  display: block;
}

.content .experiences p {
  padding: 5px;
  text-transform: capitalize;
  color: var(--colorText);
}

.content .experiences .line {
}

.content .experiences .lineChild {
}

/* Content section > contact */

.content .contact {
}
.content .contact h1 {
  margin-bottom: 15px;
}

.content .contact i {
  width: 40px;
  text-align: center;
  font-size: 20px;
  transition: var(--transition);
  background-color: var(--colorSecondary);
  color: var(--colorWhite);
  padding: 10px;
  border-radius: 50%;
  margin-right: 3px;
}

.content .contact i:hover {
  background-color: var(--colorWhite);
  color: var(--colorSecondary);
}

.content .contact span {
  font-size: 18px;
  color: var(--colorText);
  font-weight: bold;
}

.content .contact span a {
  color: var(--colorPrimary);
}

.content .contact .phone {
  margin-bottom: 10px;
}

.content .contact .email {
}


